@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h6{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
    color: #000;
    margin-top: 0px;
    line-height: 1.4;
}
body p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #656565;
}

h1, h2, h3, h4, h5, h6, .main-menu .navigation > li > a, .btb-button {
    font-family: 'Oswald', sans-serif;
}

.Top{
    width: 100%;
    height: 140px;
    min-width: fit-content;
}

.TopBar{
    background: #f5f5f5;
    width: 100%;
    height: 55px;
}

.Container{
    margin: auto;
    padding: 0px 15px;
    width: 1170px;
    display: block;
}

.TopBarWrapper{
    width: 100%;
    height: 55px;
}

.TopBarWrapper p{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}

.TopBarWrapper i{
    color: #ff5200;
    font-size: 15px;
    padding: 0px 10px;
    min-width: fit-content;
}

.TopBarWrapper .Phone{
    float: left;
    padding-right: 5px;
    width: 210px;
    border-left: 1px solid #e4e4e4;
    padding: 16px 0px;
    min-width: fit-content;
}

.TopBarWrapper .Email{
    float: left;
    border-left: 1px solid #e4e4e4;
    padding: 16px 0px;
    width: 300px;
    min-width: fit-content;
}

.TopSocailIcons{
    float: right;
    min-width: fit-content;
}

.TopSocailIcons i{
    border-left: 1px solid #e4e4e4;
    padding: 20px 15px;
    cursor: pointer;
    min-width: fit-content;
}

.TopSocailIcons i{
    color: #222222;
}

.TopSocailIcons i:hover{
    color: #ff5200;
    transition: 0.3s;
}

.TopMenu{
    margin-top: 0px;
    width: 100%;
    height: 44px;
    padding: 20px 0px;
}

.TopLogo{
    max-width: 190px;
    float: left;
}

.TopLogo img{
    width: 100%;
}

.MenuContent ul{
    float: right;
    margin-top: 12px;
}

.MenuContent li{
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    display: inline;
    padding-left: 32px;
    text-transform: uppercase;
}

#MenuFirstLi a{
    color:#ff5200;
}

.MenuContent ul li i{
    padding-left: 5px;
}

.MenuContent ul li a{
    color: #000000;
}

.MenuContent ul li a:hover{
    color: #ff5200;
    transition: 0.3s;
}

.MenuContent li a{
    text-decoration: none;
}

.HomeSlider{
    width: 100%;
    height:520px;
    background: url(../images/slider1.jpg);
    position: relative;
    background-position: center center;
    background-size: cover;
    min-width: fit-content;
}

.Slider1{
    padding-top: 150px;
}

.Slider1 h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    width: 506px;
    text-transform: uppercase;
} 

.Slider1 p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    width: 465px;
    padding-top: 20px;
}

.Slider1 button {
    display: grid;
    width: 190px;
    padding: 15px 0px;
    background: rgb(255, 82, 0);
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.Slider1 button:hover{
    background: #222222;
    transition: 0.3s;
}

.ServiceBox{
    width: 100%;
    height: 530px;
    min-width: fit-content;
    background: #f6f6f6;
}

.ServiceBoxWrapper{
    padding: 90px 0px;
    min-width: fit-content;
}


.SingleServiceBox{
    width: 253px;
    height: 348px;
    text-align: center;
    border: 1px solid #e9e9e9;
    background: #ffffff;
    display: inline-block;
    margin-right: 25px;
}

.SingleServiceBox i{
    font-size: 50px;
    color: #ff5200;
    padding: 25px 0px;
}

.SingleServiceBox h3{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    font-family: "Oswald", sans-serif;
    padding: 0px 20px;
    text-transform: uppercase;
}

.SingleServiceBox p{
    padding: 20px 0px;
}

.SingleServiceBox spam{
    font-size: 15px;
    font-weight: 500;
    color: #ff5200;
    font-family: "Work Sans", sans-serif;
    text-transform: capitalize;
}

.SingleServiceBox spam i{
    color: #ff5200;
    font-size: 11px;
    padding-left: 5px;
}

.SingleServiceBox:hover{
    background: #ff5200;
    color: #ffffff;
}

.SingleServiceBox:hover i{
    background: #ff5200;
    color: #ffffff;
}

.SingleServiceBox:hover h3{
    background: #ff5200;
    color: #ffffff;
}

.SingleServiceBox:hover p{
    background: #ff5200;
    color: #ffffff;
}

.SingleServiceBox:hover spam{
    background: #ff5200;
    color: #ffffff;
}

.SingleServiceBox:nth-child(2){
    background: #ff5200;
}

.SingleServiceBox:nth-child(2) i{
    color: #ffffff;
}

.SingleServiceBox:nth-child(2) h3{
    color: #ffffff;
}

.SingleServiceBox:nth-child(2) p{
    color: #ffffff;
}

.SingleServiceBox:nth-child(2) spam{
    color: #ffffff;
}

.WorkSection{
    width: 100%;
    height: 590px;
}

.WorkInformation{
    padding-top: 90px;
}

.WorkImage{
    width: 540px;
    float: left;
    padding-right: 50px;
}

.WorkImage img{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

.WorkContent h1{
    font-size: 36px;
    font-weight: 500;
}

.WorkContent p{
    padding-top: 10px;
}

.WorkContent ul{
    display: inline-block;
    padding-right: 90px;
}

.WorkContent li{
    list-style-type: none;
    padding-top: 25px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
    cursor: pointer;
}

.WorkContent li:hover{
    color: #ff5200;
    transition: 0.3s;
}

.WorkContent li i{
    font-size: 12px;
    color: #222222;
    padding-right: 10px;
}

.WorkContent button{
    margin-top: 25px;
    display: grid;
    width: 150px;
    padding: 12px 0px;
    text-transform: uppercase;
    background: #ff5200;
    border: none;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}

.WorkContent button:hover{
    background: #222222;
    transition: 0.3s;
}

.CounterSection{
    width: 100%;
    height: 365px;
}

.Counter{
    background: linear-gradient(#1010109c,#1010109c), url(../images/CounterSection.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: fit-content;
    height: 100%;
}

.CounterBoxWrapper{
    text-align: center;
}

.SingleCounterBox{
    text-align: center;
    width: 250px;
    height: 190px;
    padding: 88px 5px;
    display: inline-block;
}

.SingleCounterBox i{
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 10px;
}

.SingleCounterBox h2{
    font-size: 50px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
}

.SingleCounterBox h5{
    font-size: 20px;
    font-weight: 500;
    font-family:"Oswald", sans-serif;
    color: #ffffff;
}

.Info{
    width: 100%;
    height: 680px;
    background: #f5f5f5;
    min-width: fit-content;
}

.secTitle{
    text-align: center;
    width: 100%;
    height: 270px;
}

.secTitle h1{
    font-size: 40px;
    font-weight: 500;
    padding-top: 90px;
    padding-bottom:10px ;
}

.secTitle p{
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    margin: auto;
    padding-top: 10px;
}

.secTitle hr{
    width: 60px;
    height: 3px;
    margin: auto;
    background: #ff5200;
    border: none;
    border-radius: 3px;
}

.InfoBoxWrapper{
    width: 100%;
    height: 342px;
}

.SingleInfoBox{
    width: 255px;
    height: 340px;
    margin-right: 20px;
    display: inline-block;
}

.InfoBoxImage{
    width: 255px;
    height: 190px;
}

.InfoBoxImage img{
    width: 100%;
}

.InfoBoxContent h5{
   font-size: 20px;
   font-weight: 500;
   font-family: "Oswald", sans-serif; 
   padding-top:20px;
}

.InfoBoxContent p{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}

.PricingSection{
    width: 100%;
    height: 862px;
}

.SinglePriceBox{
    width: 322px;
    height: 470px;
    padding-left: 25px;
    padding-top: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: inline-block;
    margin-right: 24px;
}

.SinglePriceBox h3{
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;

}

.SinglePriceBox h1{
    font-weight: 700;
    font-size: 50px;
    font-family: "work sans",sans-serif;
}

.SinglePriceBox h1 span{
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
}

.SinglePriceBox ul{
    padding-left: 0px;

}

.SinglePriceBox li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: #57647c;
    padding-top: 15px;
}

.SinglePriceBox i{
    color: #ff5200;
    padding-right: 5px;
    font-size: 12px;
}

.SinglePriceBox button{
    display: grid;
    width: 166px;
    padding: 15px 0px;
    background: #ff5200;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 35px;
}

.SinglePriceBox button:hover{
    background: #222222;
    transition: 0.3s;
}

.IdeaSection{
    width: 100%;
    height: 530px;
}

.IdeaImage{
    width: 50%;
    height: 527px;
    float: left;
}

.IdeaImage img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.IdeaContent{
    float: right;
    width: 50%;
    height: 527px;
    background: #222222;
    position: relative;
    min-width: fit-content;
}

.IdeaContentWrapper{
    width: 90%;
    height: 85%;
    position: relative;
    top: 75px;
    left: 65px;
    min-width: fit-content;
}

.IdeaContent h1{
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
}


.IdeaContent p{
    width: 525px;
    font-size: 16px;
    font-weight: 400;
    color: #dddddd;
    position: relative;
    top: 10px;
}

.SingleIdeaBox{
    display: inline-block;
    width: 300px;
    height: 130px;
    position: relative;
    top: 55px;
}

.SingleIdeaBox h4{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.SingleIdeaBox h4:hover{
    color: #ff5200;
    transition: 0.5s;
}

.SingleIdeaBox p{
    width: 210px;
}

.SingleIdeaBox i{
    position: relative;
    font-size: 48px;
    height: 55px;
    width: 75px;
    float: left;
    color: #ff5200;
}

.TeamSection{
    width: 100%;
    height: 800px;
}

.TeamMemberImage{
    width: 255px;
    height: 255px;
}

.TeamMemberImage img{
    width: 100%;
    height: 100%;
}

.SingleTeamMember{
    width: 255px;
    height: 345px;
    border: 1px solid #ddd;
    margin-right: 35px;
    display: inline-block;
}

.TeamMemberContent{
    width: 255px;
    height: 85px;
    text-align: center;
    top: 20px;
    position: relative;
}

.TeamMemberContent h4{
    font-size: 20px;
    font-weight: 500;
}

.TeamMemberContent p{
    font-size: 13px;
    font-weight: 400;
}

.SingleTeamWrapper{
    width: 100%;
    height: 400px;
    margin: auto;
}

.SingleTeamMember:nth-child(4){
    margin: 0px;
}

.TeamSection button{
    display: grid;
    padding: 15px 0px;
    width: 180px;
    text-transform: uppercase;
    background: #222222;
    color: #ffffff;
    border: 0px;
    border-radius: 3px;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
}

.TeamSection button:hover{
    background: #ff5200;
    transition: 0.3s;
}

.ProjectSection{
    width: 100%;
    height: 900px;
    background: #f5f5f5;
    margin: auto;
}

.SingleProjectBox{
    width: 350px;
    height: 285px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.SingleProjectBox img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ProjectContent{
    position: absolute;
    padding-bottom: 3px;
    padding-left: 25px;
    color: #ffffff;
    width: 326px;
    background-image: linear-gradient(to top, #000, transparent);
    bottom: 0;
    transition: 0.3s;
}

.ProjectContent a{
    padding-top: 21px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    overflow: hidden;
    transform: translateX(-350px);
}

.SingleProjectBox:hover .ProjectContent{
    padding-bottom: 35px;
    padding-left: 25px;
    transition: 0.3s;
}

.SingleProjectBox:hover .ProjectContent a {
    transform: translateX(0px);
    transition: 0.6s;
}

.ProjectContent a i{
    padding-left: 10px;
    color: #ffffff;
    font-size: 11px;
}

.ProjectContent h4{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 10px;
}

.ProjectContent span{
    text-decoration: underline;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

.NewsSection{
    width: 100%;
    height: 820px;
}

.SingleNewsBox{
    width: 350px;
    height: 490px;
    border: 1px solid #DDD;
    display: inline-block;
    margin-right: 35px;
}


.NewsImage{
    width: 350px;
    height: 240px;
    overflow: hidden;
}

.SingleNewsBox:hover .NewsImage img{
    transform: scale(1.1);
    transition: 0.3s;
}

.NewsImage img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.NewsContent{
    padding-top: 25px;
    padding-left: 25px;
}

.NewsContent h4{
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
}

.NewsContent h4:hover{
    color: #ff5200;
    transition: 0.3s;
}

.NewsContent p{
    padding-bottom: 15px;
    width: 300px;
    font-size: 16px;
    font-weight: 400;
}

.NewsContent a{
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ff5200;
    text-decoration: none;
}

.NewsContent a i{
    font-size: 10px;
    padding-left: 10px;
}

.NewsContent li{
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}

.NewsContent ul li hr{
    width: 15px;
    /* margin-bottom: 2px; */
    margin: 4px 10px;
    background: #ff5200;
    padding: 1px;
    border: 0;
    border-radius: 5px;
}

.Contact-Mail_Section {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 10;
}

.MailWrapper{
    width: 100%;
}

.Contact-Mail-Wrapper{
    background: #ff5200;
    width: 100%;
    height: 150px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

.Contact-Mail-Meta{
    padding: 34px 65px;
    overflow: hidden;
}

.Mail {
    width: 330px;
    float: left;
}

.Contact-Mail-Wrapper h3{
    font-family: "Oswald";
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 15px;
}

.MailWrapper{
    /* padding-top: 15px; */
}

.MailWrapper input[type="email"]{
    padding: 13px 20px;
    width: 250px;
    border: 0px;
    border-radius: 25px;
    position: absolute;
}

.MailWrapper button{
    padding: 12px 0px;
    width: 110px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background: #000;
    border: 0px;
    font-family: "Work Sans", sans-serif;
    border-radius: 25px;
    overflow: hidden;
    right: -181px;
    position: relative;
}

.MailWrapper button:active {
    outline: none 
    border:0px;
}

.Contact{
    width: 380px;
    float: left;
}

.Contact p{
    color: #ffffff;
}

.ContactSocialIcons{
    width: 1091px;
}

.ContactSocialIcons i{
    width: 20px;
    padding: 7px 5px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 100%;
    color: #ffffff;
    margin-right: 6px;
}

.ContactSocialIcons i:hover{
    background: #ffffff;
    color: #000000;
    transition: 0.3s;
}

.FooterSection{
    width: 100%;
    height: 560px;
    background: #222222;
    background-repeat: no-repeat;
    min-width: fit-content;
    transform: translateY(-115px);
    position: absolute;
    display: block;
    z-index: 0;
}

.FooterContent{
    padding-top: 200px;
}

.FooterAbout{
    width: 265px;
    height: 100%;
    float: left;
    padding-right: 30px;
}

.FooterContentWrapper h3{
    font-size: 20px;
    font-weight: 500;
    color:#ffffff;
    padding-bottom: 20px;
}

.FooterContentWrapper p{
    color:#ababab;
    padding-bottom: 20px;
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
}

.FooterContact {
    width: 250px;
    float: left;
}

.FooterAbout-Icon i{
    color:#ababab;
    padding-right:15px ;
}

.FooterContact li{
    padding-bottom: 20px;
    color: #ababab;
    width: 230px;
    list-style-type: none;
}

.FooterContact ul {
    padding-top: 8px;
}

.FooterContact i{
    width: 25px;
    height: 35px;
    float: left;
    color: #ff5200;
}

.FooterContentWrapper {
    width: 100%;
    height: 280px;
}

.FooterLinks{
    float: left;
    width: 250px;
}

.FooterLinks li{
    padding: 8px 0px;
    border-bottom: 1px dashed rgba(74, 74, 74, 0.5);
    list-style-type: none;

}

.FooterLinks li a{
    color: #ababab;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.FooterLinks li a:hover{
    color: #ff5200;
    transition: 0.5s;
}

.FooterLinks li i{
    font-size: 12px;
    padding-right: 5px;
}

.FooterPosts{
    padding-left: 30px;
    height: 270px;
    width: 345px;
    float: left;
}

.SinglePost {
    width: 220px;
    height: 105px;
}

.PostInfoBox{
    width: 50px;
    height: 75px;
    background: #313131;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    float: left;
}

.PostInfoBox h1{
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 5px;
}

.PostInfoBox h5{
    font-family: "Work Sans", sans-serif;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
}

.PostContent{
    padding-left: 15px;
    float: left;
}

.PostContent h6{
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    color: #ababab;
}

.PostContent li{
    font-size: 12px;
    font-size: 400;
    color: #656565;
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
}

.PostContent i{
    padding-right:5px ;
    color: #7b7b7b;
}

.BottomFootherPart{
    border-top:1px solid #DDD;
}

@media screen and (max-width:1200px){
    .IdeaImage{
        display: none;
    }

    .IdeaContent{
        width: 100%;
        height: 527px;
    }
}

.BottomFooterContent{
    padding: 30px 0px;
}

.BottomFooterContent p{
    float: left;
}

.BottomFooterContent ul{
    float: right;
}

.BottomFooterContent li{
    list-style-type: none;
    display: inline-block;
    padding-right: 15px;
}

.BottomFooterContent li a{
    color: #ababab;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;;
}